@media (min-width: 800px) and (max-width: 1080px) {
    
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;

        .list-microsoft {
            gap: 20px;
        }

        ul {
            gap: 8px;

            li {
                
                span {
                    display: none;
                }

                .img-logo-resp {
                    display: none;
                }
            }
        }
    }

    .slide {

        

        .carousel-inner {
            padding-bottom: 20%;
            min-height: 530px;
        }

        .carousel-control-prev, .carousel-control-next {
            top: 40%;
            height: 8%
        }

        .img-carousel {
            display: none;
        }

        .img-carousel-resp {
            display: block;
        }

        .carousel-item .slider-items {
            background-color: white;
            position: absolute;
            margin: 0;
            margin-top: 44%;  
            left: 5%; 
            padding: 30px;
            width: 90%;
            box-shadow: 0 .1875rem .4375rem 0 rgba(0, 0, 0, .13), 0 .0625rem .125rem 0 rgba(0, 0, 0, .11);

            h2 {
                font-size: 1.5rem;
            }

            p {
                font-size: 90%;
            }
        }
    }
    
    .banner {
        flex-direction: column;
        padding: 0 16px 8%;

        .card {
            position: absolute;
            width: 90%;     
            left: 5%;    
            margin-top: 40%;   
            padding: 16px;

            h5 {
                font-size: 1.6rem;
                margin-bottom: 16px;
            }
        } 
    }
    
    .container-cards {
    
        padding: 0 16px;
    
        .wrapper-cards {
            flex-wrap: wrap;
            justify-content: space-evenly;
            
            .card {
                max-width: 48%;
            }  
        }
    }  
    
    .footer {
        flex-wrap: wrap;
        gap: 10%;
        justify-content: space-evenly;
    }
}

@media (max-width: 799px) {
    
    header {

        .list-microsoft {
            display: none;
        }

        .list-microsoft-resp {
            display: block;
        }

        ul {
            display: flex;
            justify-content: space-between;
            /* flex-grow: 1; */
        
            li {
                .dropdown {
                    display: none;
                }

                .img-logo-resp {
                    display: block;
                    margin: 0 28px;
                }

                span {
                    display: none;
                }
            }
        }
    }

    .slide {

        .carousel-inner {
            height: 540px;
            box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.13),0 0 .0625rem 0 rgba(0,0,0,.11) !important;
        }

        .carousel-control-prev, .carousel-control-next {
            top: 98px;
            height: 8%
        }

        .img-carousel {
            display: none;
        }

        .img-carousel-resp {
            display: block;
        }

        .carousel-item .slider-items {
            width: 86%;
            position: static;
            top: 20px;
            margin: 16px;

            h2 {
                font-size: 1.5rem;
            }
        }

        .slider-items a {
            padding-left: 16px;
            font-weight: 600;
            cursor: pointer;
            color: #0067b8;
        }
    }

    .links {
        flex-wrap: wrap;
        padding: 10px;
        margin: 25px 0;
    }

    .banner {
        flex-direction: column;

        .card {
            position: relative;
            left: 0;
            width: 100%;

            h5 {
                font-size: 1.6rem;
                margin-bottom: 16px;
            }
        }

        .img-banner {
            display: none;
        }

        .img-banner-resp {
            display: block;
        }
    }

    .container-cards {
        padding: 0 30px;
    
        .wrapper-cards {
            flex-direction: column;
        }
    }  
    
    .btn-start {
        position: static;
    }


    .footer {
        flex-direction: column;
    }
}